body {
  background: linear-gradient(
    109.6deg,
    rgb(27, 27, 79) 11.2%,
    rgb(120, 201, 244) 100.2%
  );
  background-size: 400% 400%;
  animation: bg 12s ease infinite;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.weather-app {
  background-color: rgb(253 253 253 / 30%);
  border: 0.5px solid rgb(253 253 253 / 46%);
  max-width: 600px;
  margin: 100px auto;
  padding: 35px;
  box-shadow: 0 30px 50px rgba(1, 50, 100, 0.6);
  border-radius: 30px;
}
